div{
    margin: 0;
    padding: 0;
}
h1{
    background-image: url(component/rick-and-morty-orange-digital-art-mj65ocb8yjs70ayd.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    padding:8% ;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(12, 60, 44);
    background-color:  rgb(25, 120, 88);
}